@import "stylesheet.css";

/* General setting */
:root {
  --yellow: #ffc727;
  --dark-grey: #444;
  --light-grey: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  background-color: var(--yellow);
  font-family: "tt_chocolates_trlextralight";
  color: var(--dark-grey);
}

/* image's box */

.image-box {
  padding: 2rem;
  flex: 1 1 35%;
  text-align: center;

  position: relative;
}

h1 {
  font-family: "tt_chocolates_trlbold";
  margin-top: 5rem;
  font-size: min(5rem, 5vw);
}

h1 + p {
  font-size: min(2rem, 3vw);
  margin: -1rem auto 7rem;
}

.circle {
  width: max(70%, 170px);
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.illustration {
  position: relative;
  top: 1.3rem;
}

.circle-shadow {
  width: 50%;
  height: 1rem;
  background-color: #ccc;
  border-radius: 50%;
  margin: 2rem auto;
  filter: blur(7px);
  mix-blend-mode: multiply;
}

.attribution {
  position: absolute;
  bottom: 3rem;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.attribution a,
.attribution a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
}

/* main's box */

main {
  flex: 1 1 65%;
  background-color: #fff;
  padding: 3rem 5vw;
}

.description {
  font-family: "tt_chocolates_trlbold";
  font-size: min(5rem, 5vw);
  margin-top: 4.5rem;
  margin-bottom: 5rem;
}

/* form */

fieldset {
  width: 100%;
  border: 5px solid var(--dark-grey);
  border-radius: 5px;
  background-color: var(--light-grey);
  padding: 2rem;
  display: flex;
  column-gap: 5px;
}

legend {
  font-family: "tt_chocolates_trlbold";
  font-size: 2rem;
  border: 5px solid var(--dark-grey);
  border-radius: 5px;
  background-color: var(--yellow);
  padding: 0.2rem 1rem;
}
